SoundFile
torchaudio
munch
torch
pydub
pandas
pyyaml
librosa
nltk
matplotlib
accelerate==0.26.0
transformers==4.46.0
einops
einops-exts
tqdm
typing
typing-extensions
tensorboard
git+https://github.com/resemble-ai/monotonic_align.git